<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b> For enquiries: </b> (123) 456-789, support@sc.com
    </div>
    <strong>Inventory Management System &copy; 2026 <a>Sharp # Coders</a>.</strong>
</footer>