@{
    ViewData["Title"] = "Forgot password";
}

<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Please contact System Administrator: (123) 456-789</h3>
            <h3>Email: support@sc.com</h3>
        </div>
    </div>
</div>